{{- if and .Values.haproxy.enabled .Values.haproxy.keda.enabled }}
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "haptic.fullname" . }}-haproxy
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "haptic.labels" . | nindent 4 }}
    app.kubernetes.io/component: loadbalancer
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "haptic.fullname" . }}-haproxy
  pollingInterval: {{ .Values.haproxy.keda.pollingInterval }}
  cooldownPeriod: {{ .Values.haproxy.keda.cooldownPeriod }}
  minReplicaCount: {{ .Values.haproxy.keda.minReplicaCount }}
  maxReplicaCount: {{ .Values.haproxy.keda.maxReplicaCount }}
  {{- with .Values.haproxy.keda.fallback }}
  fallback:
    failureThreshold: {{ .failureThreshold }}
    replicas: {{ .replicas }}
  {{- end }}
  {{- with .Values.haproxy.keda.advanced }}
  advanced:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  triggers:
    {{- toYaml .Values.haproxy.keda.triggers | nindent 4 }}
{{- end }}
