{{- if .Values.controller.config }}
apiVersion: haproxy-haptic.org/v1alpha1
kind: HAProxyTemplateConfig
metadata:
  name: {{ .Values.controller.crdName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "haptic.labels" . | nindent 4 }}
spec:
  {{- $config := .Values.controller.config | deepCopy }}
  {{- if and $config.credentialsSecretRef (not $config.credentialsSecretRef.name) }}
    {{- $_ := set $config.credentialsSecretRef "name" (printf "%s-credentials" (include "haptic.fullname" .)) }}
  {{- end }}
  {{- /* Set maxParallel for dataplane (auto-calculate if not explicitly set) */ -}}
  {{- if $config.dataplane }}
    {{- $maxParallel := include "haptic.config.dataplane.maxParallel" . | int }}
    {{- $_ := set $config.dataplane "maxParallel" $maxParallel }}
  {{- end }}
  {{- if $config.controller }}
    {{- /* Remove fields that are not part of the CRD (configured via env vars instead) */ -}}
    {{- $_ := unset $config.controller "healthzPort" }}
    {{- $_ := unset $config.controller "metricsPort" }}
    {{- if $config.controller.leaderElection }}
      {{- if not $config.controller.leaderElection.leaseName }}
        {{- $_ := set $config.controller.leaderElection "leaseName" (include "haptic.fullname" .) }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{- /* Add default SSL certificate configuration to extraContext */ -}}
  {{- if .Values.controller.defaultSSLCertificate.enabled }}
    {{- if not $config.templatingSettings }}
      {{- $_ := set $config "templatingSettings" dict }}
    {{- end }}
    {{- if not $config.templatingSettings.extraContext }}
      {{- $_ := set $config.templatingSettings "extraContext" dict }}
    {{- end }}
    {{- $_ := set $config.templatingSettings.extraContext "default_ssl_cert_name" .Values.controller.defaultSSLCertificate.secretName }}
    {{- $_ := set $config.templatingSettings.extraContext "default_ssl_cert_namespace" (.Values.controller.defaultSSLCertificate.namespace | default .Release.Namespace) }}
  {{- end }}
  {{- /* Merge template libraries into config */ -}}
  {{- $mergedLibraries := include "haptic.mergeLibraries" . | fromYaml }}
  {{- if $mergedLibraries.templateSnippets }}
    {{- $_ := set $config "templateSnippets" $mergedLibraries.templateSnippets }}
  {{- end }}
  {{- if $mergedLibraries.maps }}
    {{- $_ := set $config "maps" $mergedLibraries.maps }}
  {{- end }}
  {{- if $mergedLibraries.files }}
    {{- $_ := set $config "files" $mergedLibraries.files }}
  {{- end }}
  {{- if $mergedLibraries.sslCertificates }}
    {{- $_ := set $config "sslCertificates" $mergedLibraries.sslCertificates }}
  {{- end }}
  {{- if $mergedLibraries.haproxyConfig }}
    {{- $_ := set $config "haproxyConfig" $mergedLibraries.haproxyConfig }}
  {{- end }}
  {{- if $mergedLibraries.validationTests }}
    {{- $_ := set $config "validationTests" $mergedLibraries.validationTests }}
  {{- end }}
  {{- if $mergedLibraries.watchedResources }}
    {{- $_ := set $config "watchedResources" (merge ($config.watchedResources | default dict) $mergedLibraries.watchedResources) }}
  {{- end }}
  {{- toYaml $config | nindent 2 }}
{{- end }}
